Ork.Employee/Service References/CredentialsManagement/CredentialsDatabaseAccessor.wsdl

<?xml version="1.0" encoding="utf-8"?>

<wsdl:definitions
  xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
  xmlns:wsa10="http://www.w3.org/2005/08/addressing"
  xmlns:tns="http://tempuri.org/"
  xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
  xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  name="CredentialsDatabaseAccessor"
  targetNamespace="http://tempuri.org/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy
    wsu:Id="BasicHttpBinding_CredentialsDatabaseAccessor_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:BasicAuthentication
          xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema
      targetNamespace="http://tempuri.org/Imports">
      <xsd:import
        schemaLocation="http://localhost:7000/CredentialsManagement?xsd=xsd0"
        namespace="http://tempuri.org/" />
      <xsd:import
        schemaLocation="http://localhost:7000/CredentialsManagement?xsd=xsd1"
        namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message
    name="CredentialsDatabaseAccessor_Create_InputMessage">
    <wsdl:part
      name="parameters"
      element="tns:Create" />
  </wsdl:message>
  <wsdl:message
    name="CredentialsDatabaseAccessor_Create_OutputMessage">
    <wsdl:part
      name="parameters"
      element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message
    name="CredentialsDatabaseAccessor_UpdateUser_InputMessage">
    <wsdl:part
      name="parameters"
      element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message
    name="CredentialsDatabaseAccessor_UpdateUser_OutputMessage">
    <wsdl:part
      name="parameters"
      element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message
    name="CredentialsDatabaseAccessor_UpdatePassword_InputMessage">
    <wsdl:part
      name="parameters"
      element="tns:UpdatePassword" />
  </wsdl:message>
  <wsdl:message
    name="CredentialsDatabaseAccessor_UpdatePassword_OutputMessage">
    <wsdl:part
      name="parameters"
      element="tns:UpdatePasswordResponse" />
  </wsdl:message>
  <wsdl:message
    name="CredentialsDatabaseAccessor_Delete_InputMessage">
    <wsdl:part
      name="parameters"
      element="tns:Delete" />
  </wsdl:message>
  <wsdl:message
    name="CredentialsDatabaseAccessor_Delete_OutputMessage">
    <wsdl:part
      name="parameters"
      element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType
    name="CredentialsDatabaseAccessor">
    <wsdl:operation
      name="Create">
      <wsdl:input
        wsaw:Action="http://tempuri.org/CredentialsDatabaseAccessor/Create"
        message="tns:CredentialsDatabaseAccessor_Create_InputMessage" />
      <wsdl:output
        wsaw:Action="http://tempuri.org/CredentialsDatabaseAccessor/CreateResponse"
        message="tns:CredentialsDatabaseAccessor_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation
      name="UpdateUser">
      <wsdl:input
        wsaw:Action="http://tempuri.org/CredentialsDatabaseAccessor/UpdateUser"
        message="tns:CredentialsDatabaseAccessor_UpdateUser_InputMessage" />
      <wsdl:output
        wsaw:Action="http://tempuri.org/CredentialsDatabaseAccessor/UpdateUserResponse"
        message="tns:CredentialsDatabaseAccessor_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation
      name="UpdatePassword">
      <wsdl:input
        wsaw:Action="http://tempuri.org/CredentialsDatabaseAccessor/UpdatePassword"
        message="tns:CredentialsDatabaseAccessor_UpdatePassword_InputMessage" />
      <wsdl:output
        wsaw:Action="http://tempuri.org/CredentialsDatabaseAccessor/UpdatePasswordResponse"
        message="tns:CredentialsDatabaseAccessor_UpdatePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation
      name="Delete">
      <wsdl:input
        wsaw:Action="http://tempuri.org/CredentialsDatabaseAccessor/Delete"
        message="tns:CredentialsDatabaseAccessor_Delete_InputMessage" />
      <wsdl:output
        wsaw:Action="http://tempuri.org/CredentialsDatabaseAccessor/DeleteResponse"
        message="tns:CredentialsDatabaseAccessor_Delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding
    name="BasicHttpBinding_CredentialsDatabaseAccessor"
    type="tns:CredentialsDatabaseAccessor">
    <wsp:PolicyReference
      URI="#BasicHttpBinding_CredentialsDatabaseAccessor_policy" />
    <soap:binding
      transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation
      name="Create">
      <soap:operation
        soapAction="http://tempuri.org/CredentialsDatabaseAccessor/Create"
        style="document" />
      <wsdl:input>
        <soap:body
          use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body
          use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation
      name="UpdateUser">
      <soap:operation
        soapAction="http://tempuri.org/CredentialsDatabaseAccessor/UpdateUser"
        style="document" />
      <wsdl:input>
        <soap:body
          use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body
          use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation
      name="UpdatePassword">
      <soap:operation
        soapAction="http://tempuri.org/CredentialsDatabaseAccessor/UpdatePassword"
        style="document" />
      <wsdl:input>
        <soap:body
          use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body
          use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation
      name="Delete">
      <soap:operation
        soapAction="http://tempuri.org/CredentialsDatabaseAccessor/Delete"
        style="document" />
      <wsdl:input>
        <soap:body
          use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body
          use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service
    name="CredentialsDatabaseAccessor">
    <wsdl:port
      name="BasicHttpBinding_CredentialsDatabaseAccessor"
      binding="tns:BasicHttpBinding_CredentialsDatabaseAccessor">
      <soap:address
        location="http://localhost:7000/CredentialsManagement" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>